
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit, sans-serif;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
}


body.dark{
  background-color: #121212;
   color: #fff;
}

body .dark a{
  color: #fff;
}
body.dark .food-item-counter p{
  color: black;
  
}
a{
  text-decoration: none;
  color: inherit;
}

.app{
  width: 80%;
  margin: auto;


    min-height: 100vh;
    transition: background-color 0.3s ease, color 0.3s ease;

}

body.dark button {
  background-color: #444;
  color: #fff;
}

body.dark h1{
  color: #fff;
}

@keyframes fadeIn{
  0%{
    opacity :0;
  }

  100%{
    opacity: 1;
  }


}